.detailsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid grey;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.imageContainer img {
  max-width: 250px;
  max-height: 500px;
  object-fit: cover;
}

.dataContainer {
  display: flex;
}

.dataTextContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 0px;
}

.dataText {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.links {
  margin-top: 16px;
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 18px;
  text-decoration: underline;
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  border-bottom: 1px solid grey;
  padding-bottom: 16px;
}



.nadditionalInfo {
  margin-bottom: 16px;
}

@media screen and (min-width: 1440px) {
  .detailsContainer {
    flex-wrap: nowrap;
  }
}
