.reviewsContainer ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewsContainer ul li {
  background-color: #292929;
  padding: 16px;
  border-radius: 8px;
}

.reviewsList li h3 {
  padding: 0px 0px 16px 0px;
  margin-bottom: 8px;
  border-bottom: 1px solid grey;
}

.reviewsList li div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-top: 1px solid grey;
  padding-top: 16px;
}

.review {
  padding-bottom: 8px;
}

.reviewsContainer{
  margin-bottom: 30px;
}