.reviewsContainer ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewsContainer ul li {
  border: 1px solid grey;
  padding: 8px;
  border-radius: 8px;
}

.reviewsContainer ul li p {
  font-size: 16px;
}

.reviewsList li h4 {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid grey;
}

.reviewsContainer {
  padding: 64px 0px;
}

.reviewsContentContainer {
  padding-top: 16px;
}
