@import url("./reset.css");
@import url("@fontsource/inter-tight/400.css");
@import url("@fontsource/inter-tight/500.css");
@import url("@fontsource/inter-tight/600.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: white;
  background-color: #1c1c1c;
}

body {
  font-family: "Inter Tight", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  color: #ffffff;
}

label {
  display: block;
  margin-bottom: 6px;
}

input {
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  outline: none;
  width: 100%;
}

p {
  line-height: 1.15;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  margin: 25px;
}

.header {
  font-size: 24px;
  margin: 16px 0;
  font-weight: 600;
}

button {
  align-self: flex-start;
  white-space: nowrap;
  cursor: pointer;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background-color: #dbdadb;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #ffffff;
  color: #000000;
  padding: 32px;
  border-radius: 16px;
  margin: 32px 0;
}

.sub-card {
  padding: 16px;
  border: 1px solid grey;
  border-radius: 8px;
}

.container {
  max-width: 375px;
  padding: 16px;
  margin: 0 auto;
}

.errorMessage {
  color: red;
  margin: 16px 0;
}

.default-link {
  text-decoration: underline;
  color: plum;
}

.highVote {
  background-color: green;
}

.medVote {
  background-color: rgb(122, 212, 49);
}

.lowVote {
  background-color: orange;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  h1 {
    font-size: 48px;
    font-weight: 600;
  }

  h2 {
    font-size: 32px;
    font-weight: 500;
  }

  h3 {
    font-size: 24px;
    font-weight: 500;
  }

  h4 {
    font-size: 20px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
