.navLinks {
  display: flex;
  gap: 32px;
}

.navContainer {
  max-width: 375px;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  border-bottom: 1px solid grey;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 768px) {
  .navContainer {
    max-width: 768px;
    padding: 16px 32px;
  }

  .button-reset {
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .navContainer {
    max-width: 1440px;
  }
}
