.inputNBtn {
  display: flex;
  gap: 8px;
}

li:not(:last-child) {
  margin-bottom: 5px;
}

.header {
  font-size: 24px;
  margin: 16px 0px;
  margin-top: 32px;
  font-weight: 600;
}

.detailsBtns {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btnResponse {
  display: flex;
  align-items: center;
  gap: 24px;
}

.sidesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 16px;
}

.sideContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aboutText {
  font-size: 18px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid grey;

  h1 {
    margin-top: 50px;
    margin-bottom: 16px;
  }

  p:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .sidesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .sidesContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 24px;
  }
}
