.moviesListContainer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.moviesListContainer ul li {
  width: 100%;
}

.moviesListContainer ul li img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.dataContainer {
  padding: 12px 8px 12px 8px;
  display: flex;
  flex-direction: column;
}

.btmFixConatiner {
  background-color: #282828;
  border-radius: 8px;
  height: 100%;
}

.link {
  outline: none;
  border: none;
}

.date {
  font-size: 14px;
  color: grey;
  font-weight: 400;
}

.popularity {
  font-size: 14px;
  color: grey;
  font-weight: 400;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.imgRateContainer {
  display: flex;
  position: relative;
}

.cardBottom{
  border-top: 1px solid rgba(128, 128, 128, 0.534);
  padding-top: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.vote {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 0px 8px 0px 8px;
  right: 0px;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .moviesListContainer ul li {
    max-width: 343px;
    width: 100%;
  }

  .moviesListContainer ul {
    gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .moviesListContainer ul li {
    max-width: 325px;
  }
}
