.imagesContainer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.imagesContainer li {
  display: flex;
  align-items: center;
  background-color: #292929;
  border-radius: 5px;
  width: 100%;
}

.imagesContainer h2 {
  margin-bottom: 16px;
}

.imagesContainer li img {
  border-radius: 5px;
  max-width: 75px;
  width: 100%;
  padding-right: 8px;
}
.imagesContainer p {
  font-size: 16px;
}

.imagesContainer div {
  padding-right: 20px;
}

.imagesContainer div div {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.imagesContainer {
  padding: 16px 0px;
}

@media screen and (min-width: 1440px) {
  .imagesContainer li {
    width: auto;
  }
}
